header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}
footer {
  background-color: #000;
  width: 100%;
  color: white;
}

footer {
  background-color: #222;
  margin-top: auto;
}
.pie-pagina .grupo-1 {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 5px;
}
.pie-pagina .grupo-1 .boxx h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  margin: 5px;
}
.pie-pagina .grupo-1 .boxx p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}



